<div class="presentation">
  <h1 class="col-12-sm">Hello 👋 My name is Agathe. I'm a Web Developer by Profession & Hobby.</h1>
  <h2>Hello 👋 My name is Agathe. I'm a Web Developer by Profession & Hobby.</h2>
  <h3>Hello 👋 My name is Agathe. I'm a Web Developer by Profession & Hobby.</h3>
</div>

<div class="project">

</div>

<div class="testimonial">

</div>







<!---- <%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %> ---->
